<div class="home-wrapper">
  <div style="padding: 10px">
    <button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="menu" nzTheme="outline"></i></button>
  </div>
  <router-outlet></router-outlet>
  <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      nzPlacement="left"
      [nzTitle]="DrawerHeader"
      (nzOnClose)="close()"
    >
    <ul nz-menu [nzMode]="'inline'" style="width: 240px;" *ngIf="userInfo">
        <li nz-menu-item (click)="menuClick(0)">
          <span title><i nz-icon type="mail"></i>查询班车</span>
        </li>
        <li nz-menu-item (click)="menuClick(1)" *ngIf="userInfo.role == 'ADMIN'">
          <span title><i nz-icon type="idcard"></i>用户列表</span>
        </li>
        <li nz-menu-item (click)="menuClick(2)" *ngIf="userInfo.role == 'ADMIN'">
          <span title><i nz-icon type="car"></i>班车信息</span>
        </li>
        <li nz-menu-item (click)="menuClick(3)" *ngIf="userInfo.role == 'ADMIN'">
          <span title><i nz-icon type="team"></i>司机信息</span>
        </li>
        <li nz-menu-item (click)="menuClick(4)">
          <span title><i nz-icon type="edit"></i>意见中心</span>
        </li>
      </ul>
    </nz-drawer>
</div>

<ng-template #DrawerHeader>
  <div *ngIf="userInfo">
    <nz-avatar nzIcon="user" nzSrc="../../assets/imgs/{{userInfo.headId}}.png"></nz-avatar>
    <span style="position: relative; left: 10px; top: 4px;">{{userInfo.username}}</span>
  </div>
</ng-template>